<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Show all users</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div th:each="user : ${users}" class="centralization">
    <a th:href="@{/admin/user_by_id(id=${user.getId()})}" class="link">
        <div class="user_block" th:text="${user.getName()}">
        </div>
    </a>
</div>
<div class="centralization">
    <a th:href="@{/admin/create_user}" class="link">
        <div class="sumbit_block">
            Создать нового пользователя
        </div>
    </a>
</div>
<div class="centralization">
    <a href="/logout" class="link">
        <div class="logout_button">
            ВЫХОД
        </div>
    </a>
</div>
</body>
</html>