<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>

<div class="centralization">
    <div class="create_block">

        <form th:method="POST" th:action="@{/admin/update(id=${user_with_id.getId()})}" th:object="${user_with_id}">

            <div class="centralization">
                <label>
                    <input class="input" placeholder="Имя" type="text" th:field="*{name}">
                </label>
            </div>
            <div class="validate_block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name invalid</div>
            <br/>

            <div class="centralization">
                <label>
                    <input class="input" placeholder="Пароль" type="password" th:field="*{password}">
                </label>
            </div>
            <div class="validate_block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password invalid</div>
            <br/>
             <a th:href="@{/admin/update_roles_page(id=${user_with_id.getId()})}" class="up_link">
                 <div class="up_block">
                     Изменить набор ролей юзверя.
                 </div>
             </a>
             <br/>

            <button type="submit" class="truncate_button">Внести правки в пользователя</button>
        </form>
        <br/>

        <div>
            <form th:method="POST" th:action="@{/admin/delete(id=${user_with_id.getId()})}" th:object="${user_with_id}">
                <button type="submit" class="rofl_button">Удалить пользователя.</button>
            </form>
        </div>

    </div>
</div>

<div class="centralization">
    <a href="/logout" class="link">
        <div class="logout_button">
            Разлогиниться
        </div>
    </a>
</div>

</body>
</html>