<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>

<div class="centralization">
    <div class="create_block">
        <div class="centralization">
            <div class="current_user_block" th:text="${'User id: ' + default_user_with_id.getId()}">

            </div>
        </div>
        <div class="centralization">
            <div class="current_user_block" th:text="${'User name: ' + default_user_with_id.getName()}">

            </div>
        </div>
        <div class="centralization">
            <div class="current_user_block" th:text="${'User password: ' + default_user_with_id.getPassword()}">

            </div>
        </div>
        <div class="centralization">
            <a href="/logout" class="link">
                <div class="logout_button">
                    Разлогиниться
                </div>
            </a>
        </div>
    </div>


</body>
</html>